.page-body {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  text-align: center;
}

/* TIL */
.til-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.til-label {
  margin-top: 7px;
  margin-bottom: 3px;
}

.til-input {
  margin-bottom: 20px;
  border-radius: 4px;
  height: 300px;
  border: 0.5px solid gray;
}

.underline {
  width: 80%;
  height: 1px;
  background-color: gray;
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.til-logs {
  display: flex;
  flex-direction: column;
}

/* blog */
.blog-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.blog-title {
  width: 500px;
}

.blog-date {
  width: 500px;
}

.blog-content {
  width: 500px;
  height: 350px;
}
