.page-body {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  text-align: center;
}

/* About */
.about-intro {
  width: 60%;
  margin: 6em auto;
}

/* TIL */
.til-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.til-date {
  width: 95%;
  padding-left: 10px;
}

.til-label {
  margin-top: 7px;
  margin-bottom: 3px;
}

.til-input {
  margin-bottom: 20px;
  border-radius: 4px;
  height: 70px;
  border: 0.5px solid gray;
  padding: 10;
}

.underline {
  width: 80%;
  height: 1px;
  background-color: gray;
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.til-logs {
  display: flex;
  flex-direction: column;
}

/* blog */
.blog-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.blog-title {
  width: 25%;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.blog-date {
  width: 25%;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.blog-content {
  width: 25%;
  height: 150px;
  padding: 0 0 0 10px;
  margin-bottom: 20px;
}

/* Today word */
.todayword-quote {
  background-color: #9be8d8;
  margin: 6em auto;
  padding: 8px 15px;
  border-radius: 4px;
  width: 60%;
}
